numpy==1.23.0
llvmlite
numba
tensorboardX
easydict
pyyaml
scikit-image
tqdm
SharedArray
opencv-python
av2==0.2.0
kornia<0.7.0 # Needs to be lower than 0.7.0 as higher version will try to JIT compile (and this breaks))
pyquaternion